.parking-lot-form {
    margin: 2rem;
    border: 2px solid whitesmoke;
    background-color: #111111de;
    padding: 2rem;
    text-align: left;
}

.submit {
    color:black;
    background-image: url(./images/SUBMIT.png);
}