header {
  padding: 5rem;
  font-family: 'Playpen Sans';
  font-size: 32px;
}

body {
  color: whitesmoke;
  background-image: url(./images/parking.png);
  background-size:cover;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Playpen Sans';
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
