body {
  color: whitesmoke;
  background-image: url(./images/parking.png);
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Permanent Marker';
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
